 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
  

/* ********************* NAVIGATION MENU BAR ADDED ******************** */


.navigation:hover{
    width: 300px;
}
.toggle1 { 
    display: flex;
    margin-left: 20px;
    margin-top: -40px;
   color: white;
   position: absolute;
   font-size: 13px;
}
.toggle1>p:nth-child(1)
{
    border-right: 2px solid white;
    padding-right: 10px;
}
.toggle1>p:nth-child(2)
{
    padding-left: 10px;
}


/* ********************* NAVBAR ADDED ******************** */


#hostnavbar{
    margin-top: -100px;
    width: 100%;
    height: 160px;
    border: 1px solid;
    background-color: rgb(1,30,41);
    display: flex;
    justify-content: space-around;
}

/* ********************* LOGO ADDED ******************** */

.logo{
    width: 30%;
    cursor: pointer;
    display: flex;
    margin-left: 370px;
    justify-content:space-between;
    
}
.logo img{
    width: 400px;
}

/* ********************* ALL NAVBAR PAGES ******************** */
.pages{
    width: 50%;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 200px;
    margin-left: 200px;
}
.pages>div{
    width: 100%;
    margin-left: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}
.pages>div:nth-child(4)
{
   width: 100%;
   height: 100px;
}
.pages>div:nth-child(4)
{
    margin-top: 80px;
    display: inline;
    width: 50%;
}
.pages>div:nth-child(4)>p
{
    margin-top: 60px;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
}

.pages>div:nth-child(4)>p
{
    text-align: center;
    font-weight: normal;
}

.toggle2{
    position: absolute;
   
}
.toggle2>p{
    color: white;
}
.toggle2>button{
    background-color: rgb(255,255,255);
    padding: 7px;
    border-radius: 5px;
    width: 80px;
    color: black;
    font-weight: bold;
    border: none;
    position: absolute;
    position: relative;
    display: block;
    margin-right: -250px;
    margin-left: 185px;
    margin-top: -30px;
}
.pages>div>img{
    width: 45%;
    border-radius: 50%;
    background-color: white;
    padding: 0px;
    cursor: pointer;
}
.pages>div>p{
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    font-family: IBM Plex Sans;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

  #mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 200px;
    color:rgb(123,138,143);
  }
  #main>span{
    color: white;
    font-size:25px;
    cursor:pointer;
  }
 .toggle2>button:hover{
  cursor: pointer;
  background-color: rgb(189, 180, 180);
 }
  #uppersticky{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 14px;
    font-weight: bold;
  }
  #uppersticky>p:hover{
    color: rgb(49, 143, 160);
    cursor: pointer;
 }
  #uppersticky>p:nth-child(1){
     color: rgb(0,177,207);
     border-bottom: 3px solid  rgb(0,177,207);
  }
#lowersticky{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
}
#lowersticky>p{
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#lowersticky>p:hover{
  color: rgb(49, 185, 209);
  cursor: pointer;
}
select{
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
select:hover{
  color: rgb(49, 185, 209);
  cursor: pointer;
  display: block;
}
select>option{
  color: black;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
#lside{
margin: 50px 20px 0px 40px;
}
#lside>div>span>span{
  color: black;
  font-weight:bolder;
  font-family:'Times New Roman', Times, serif;
}
#lside>div>span{
  color: rgb(82,205,237);
}
#lside>div>span>span+span{
  color: rgb(82,205,237);
}





/* *************************************************** */

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.4s;
  /* border: 4px solid green; */
  margin-left: -35px;
  margin-bottom: -400px;
  padding: 20px;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar>div{
    width: 70%;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.sidebar a {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.3s;
  padding: 20px;
}
.sidebar>div>a{
  text-align: left;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(1,30,41);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#nmain {
  transition: margin-left .5s;
  padding: 16px;
    border: 2PX SOLID green;
}
#main>a{
    display: flex;
    justify-content: space-evenly;
}
.closebtn>img{
    width: 120%;
    margin-right: 20px;
}
.sidebar>div{
    display: flex;
    justify-content: space-around;
}
.sidebar>div>a{
  text-align: left;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* *******     #lside     **********    */



#lside{
  width: 16%;
  height: auto;
  padding: 10px 0px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #lside>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
  #lside>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  #lside>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #lside>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  
  #lside>div>p{
      width: 90%;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
  }
  #lside>div>p+p{
      width: 75%;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
      margin-top: -0px;
      color: grey;
  }
  
  #lside>div>span:before ,#lside>div>span:after {
      content:"\00a0\00a0\00a0\00a0";
      text-decoration:line-through;
  }

  #view{
    color: rgb(82,205,237);
    font-weight: bold;
    margin-left: 60px;
    padding-top: 20px;
  }
  #view>span{
    font-size: 20px;
  }
  #lside>div>p:nth-child(1):hover
  {
    cursor: pointer;
  }
span:hover{
   cursor: pointer;
  }
  #lside>div:nth-child(5){
    margin-bottom: 20px;
    /* border: 2px solid green; */
  }
  

  
#lside1{
  margin: 30px 20px 0px 40px;
  width: 16%;
  height: auto;
  padding: 10px 0px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #lside1>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside1>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside1>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
  #lside1>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  #lside1>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #lside1>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  
  #lside1>div>p{
      width: 90%;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
  }
  #lside1>div>p+p{
      width: 75%;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
      margin-top: -0px;
      color: grey;
  }
  
  #lside1>div>span:before ,#lside1>div>span:after {
      content:"\00a0\00a0\00a0\00a0";
      text-decoration:line-through;
  }

  #view{
    color: rgb(82,205,237);
    font-weight: bold;
    margin-left: 60px;
    padding-top: 20px;
  }
  #view>span{
    font-size: 20px;
  }
  #lside1>div>p:nth-child(1):hover
  {
    cursor: pointer;
  }

  #lside1>div:nth-child(5){
    margin-bottom: 20px;
  }

  #mside{
    margin: auto;
    text-align: center;
    margin-top: -1320px;
    width: 50%;
    height: 2000px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
   }
  #mside>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif , fantasy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  #lside1>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside1>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside1>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
 
  #mside>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  #mside>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #mside>div>span:before ,#mside>div>span:after {
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
.news{
  height: auto;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.news>h1{
  width: 110%;
  font-size: 25px;
 font-family: Arial, Helvetica, sans-serif;
 margin: auto;
 text-align: left;
 margin-left: -5px;
 padding: 10px;
}
.news>p:nth-child(2){
  color: rgb(82,205,237);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  margin: 5px 0px 0px 5px;
}
.news>p:nth-child(3){
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  width: 60%;
  padding: 5px;
  margin-left: -35px;
}
.news>img{
   width: 100%;
   display: block;
   margin: auto;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 5px;
}
.new{
  /* height: 130px; */
  height: auto;
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.new>div>h1{
  width: 95%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: left;
  /* border: 2px solid green; */
}
.new>div>h1:hover{
  border-bottom: 3px solid black;
  cursor: pointer;
}
.new>div>p:nth-child(2)
{
  color: rgb(82,205,237);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 5px;
  /* margin-top: -10px; */
}
.new>div>p:nth-child(2):hover{
  cursor: pointer;
}
.new>div>p:nth-child(3)
{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  width: 70%;
  padding: 5px;
  text-align: left;
}
.new>img{
   width: 40%;
   display: block;
   align-items: center;
   justify-content: center;
   padding: 10px;
   border-radius: 20px;
}
.new>img:hover{
  cursor: pointer;
}


/* ***********l3 ,l4 */




#lside3{
  width: 16%;
  height: auto;
  margin: -600px 0px 20px 40px;
  padding: 10px 0px 10px 0px;
  /* border: 2px solid green; */
  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #lside3>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside3>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside3>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
  #lside3>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  #lside3>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #lside3>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  
  #lside3>div>p{
      width: 90%;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
  }
  #lside3>div>p+p{
      width: 75%;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
      margin-top: -0px;
      color: grey;
  }
  
  #lside3>div>span:before ,#lside>div>span:after {
      content:"\00a0\00a0\00a0\00a0";
      text-decoration:line-through;
  }

  #view1{
    color: rgb(82,205,237);
    font-weight: bold;
    margin-left: 60px;
    padding-top: 20px;
  }
  #view1>span{
    font-size: 20px;
  }
  #lside3>div>p:nth-child(1):hover
  {
    cursor: pointer;
  }
span:hover{
   cursor: pointer;
  }
  #lside3>div:nth-child(5){
    margin-bottom: 20px;
    /* border: 2px solid green; */
  }
  

  
#lside4{
  margin: 30px 20px 0px 40px;
  width: 16%;
  height: auto;
  padding: 10px 0px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #lside4>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside4>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside4>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
  #lside4>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  #lside4>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #lside4>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  
  #lside4>div>p{
      width: 90%;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
  }
  #lside4>div>p+p{
      width: 75%;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 20px;
      margin-top: -0px;
      color: grey;
  }
  #lside4>div>span:before ,#lside4>div>span:after {
      content:"\00a0\00a0\00a0\00a0";
      text-decoration:line-through;
  }

  #view1{
    color: rgb(82,205,237);
    font-weight: bold;
    margin-left: 60px;
    padding-top: 20px;
  }
  #view1>span{
    font-size: 20px;
  }
  #lside4>div>p:nth-child(1):hover
  {
    cursor: pointer;
  }

  #lside4>div:nth-child(5){
    margin-bottom: 20px;
  }

  #mside1{
    margin: auto;
    text-align: center;
    margin-top: -700px;
    width: 50%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
   }
  #mside1>div>span>span{
    color: black;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif , fantasy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
  }
  
  #lside4>div:nth-child(1)
  {
    margin: 5px;
    font-weight:bolder;
    font-size: 20px;
      display: block;
  }
  #lside4>div:nth-child(2){
      align-items: center;
      display: block;
      justify-content: center;
  }
  #lside4>div+div{
    align-items: center;
    display: block;
    justify-content: center;
    border-bottom: 1px solid rgb(226, 220, 220);
  }
 
  #mside1>div>span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  #mside1>div>span>span+span{
    color: rgb(82,205,237);
    text-align: center;
    align-items: center;
  }
  #mside1>div>span:before ,#mside1  >div>span:after {
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
.news{
  height: auto;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.news>h1{
  width: 110%;
  font-size: 25px;
 font-family: Arial, Helvetica, sans-serif;
 margin: auto;
 text-align: left;
 margin-left: -5px;
 padding: 10px;
}
.news>p:nth-child(2){
  color: rgb(82,205,237);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  margin: 5px 0px 0px 5px;
}
.news>p:nth-child(3){
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  width: 60%;
  padding: 5px;
  margin-left: -35px;
}
.news>img{
   width: 100%;
   display: block;
   margin: auto;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 5px;
}
.new{
  /* height: 130px; */
  height: auto;
  width: 100%;
  display: flex;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.new>div>h1{
  width: 95%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: left;
  /* border: 2px solid green; */
}
.new>div>h1:hover{
  border-bottom: 3px solid black;
  cursor: pointer;
}
.new>div>p:nth-child(2)
{
  color: rgb(82,205,237);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 5px;
  /* margin-top: -10px; */
}
.new>div>p:nth-child(2):hover{
  cursor: pointer;
}
.new>div>p:nth-child(3)
{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  width: 70%;
  padding: 5px;
  text-align: left;
}
.new>img{
   width: 40%;
   display: block;
   align-items: center;
   justify-content: center;
   padding: 10px;
   border-radius: 20px;
}
.new>img:hover{
  cursor: pointer;
}

#nmain {
  transition: margin-left .5s;
  padding: 16px;
  /* margin-top: 200px; */
}




/*************    Right side  **********************/


#rside{
  height: auto;
  width: 25%;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 1020px;
  margin-top: -3895px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#rside>div:nth-child(1)
{
margin: 5px;
font-weight:bolder;
font-size: 20px;
display: block;
}
#rside>div:nth-child(2){
align-items: center;
display: block;
justify-content: center;
}
#rside>div+div{
align-items: center;
display: block;
justify-content: center;
border-bottom: 1px solid rgb(226, 220, 220);
margin-top: 20px;
padding: 10px;
margin-left: -10px;
}
#rside>div>span>span{
color: black;
font-weight:bolder;
font-family:'Times New Roman', Times, serif;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
align-items: center;
}
#rside>div>span{
color: rgb(82,205,237);
text-align: center;
align-items: center;
}
#rside>div>span>span+span{
color: rgb(82,205,237);
text-align: center;
align-items: center;
}

#rside>div>span:before ,#rside>div>span:after {
content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
text-decoration:line-through;
color: rgb(82,205,237);
}

#rside>div>p{
width: 100%;
font-family: Arial, Helvetica, sans-serif;
padding: 5px;
margin-bottom: 5px;
}
#rside>div>img{
width: 100%;
border-radius: 10px;
}
.camera{
width: 3%;
height: 20px;
/* border: 2px solid green; */
background-color: black;
margin-top: -25px;
position: absolute;
}
.camera>img{
width: 40%;
margin-left: 10px;
}
.camera>span{
font-size: 20px;
font-weight: bolder;
color: white;
}
.small{
height: 80px;
display: flex;
}
.small>div>p{
width: 65%;
font-family: Arial, Helvetica, sans-serif;
}
.small>div>img:nth-child(1)
{
width: 30%;
border-radius: 5px;
margin: -70px 0px 30px 220px;
}
.scamera{
width: 3%;
height: 20px;
/* border: 2px solid green; */
background-color: black;
margin: -55px 0px 0px 220px;
position: absolute;
}
.scamera>img{
width: 40%;
}
.scamera>span{
font-size: 20px;
font-weight: bolder;
color: white;
}


#hindustan{
  width: 100%;
  height: auto;
  background-color: rgb(1,30,41);
   margin: auto;
   padding-bottom: 10px;
   margin-top: 3895px;
}
#hindustan>div:nth-child(1){
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
#hindustan>div:nth-child(1)>img
{
   width: 35%;
   margin-top: 20px;
}
#hindustan>p{
   color: white;
   margin-left: 135px;
   font-size: 18px;
   font-family: "Lato", sans-serif;
   padding: 5px 0px 15px 0px;
}
#hindustan>div:nth-child(3){
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
#hindustan>div:nth-child(3)>div>img{
   margin-left: 15px;
   cursor: pointer;
}
#sele{
   padding: 10px 20px 10px 20px;
   font-size: 20px;
}
#hindustan>div>div{
   display: flex;
}
#hindustan>div:nth-child(3)>div{
   padding-right: 50px;
}
#hindustan>div>div>div{
   display: flex;
   margin-left: 20px;
}
#sele+div>input{
   padding: 10px 20px 10px 20px;
   text-align: left;
   font-size: 20px;
}
#sele+div>button{
   color: white;
  background-color: rgb(0,19,26);
  border: none;
  border:1px solid white;
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 5px;
   cursor: pointer;
}
#hindustan>div:last-child
{    
   margin: auto;
   width: 80%;
   border-bottom: 1px solid grey;
   margin-top: 30px;
}
option {
   color: rgb(0,177,205);
   cursor: pointer;
}
#hindustan>div>img:nth-child(2):hover{
   cursor: pointer;
}
#bottom{
  width: 100%;
  height: auto;
  background-color: rgb(0,19,26);
  padding-bottom: 20px;
}
#bot{
  width: 80%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2,70px);
  color: white;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin: auto;
  align-items: center;
}
#bot>div{
  cursor: pointer;
}
#bot>div:hover{
  border-bottom: 1px solid white;
  width: 40%;
}
#imG{
  width: 80%;
  margin: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: -50px;
}
#imG>div{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(2,60px);
  gap: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
#imG>img{
  width: 40%;
}
imG{
  cursor: pointer;
}
#bottom>p{
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 12px;
}


.big>p:hover{
  cursor: pointer;
}
.small>div>p:hover{
  cursor: pointer;
}


.news>h1:hover{
  cursor: pointer;
  border-bottom: 1px solid grey;
}